<div class="container">
	<form novalidate
	      [formGroup]="myform"
	      (ngSubmit)="onSubmit()">

	    <div class="form-group">
	      <label>Name</label>
	      <input type="text"
	             class="form-control"
	             formControlName="name">
	    </div>

		<div *ngIf="name.errors && submitted">
	        <p *ngIf="name.errors.required">Name is required</p>
	     </div>

	  <div class="form-group" [ngClass]="{
	    'has-danger': email.invalid && email.dirty,
	    'has-success': email.valid && email.dirty
	  }">
	    <label>Email</label>
	    <input type="email"
	           class="form-control"
	           formControlName="email">

	    <!-- <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
	    <pre>Pristine? {{ myform.controls.email.pristine }}</pre>
	    <pre>Touched? {{ myform.controls.email.touched }}</pre>
	    <pre>Valid? {{ myform.controls.email.valid }}</pre>
	    <pre>Invalid? {{ myform.controls.email.invalid }}</pre> -->
	  </div>

	  <div class="form-group" [ngClass]="{
	    'has-danger': password.invalid && (password.dirty || password.touched),
	    'has-success': password.valid && (password.dirty || password.touched)
	  }">
	    <label>Password</label>
	    <input type="password"
	           class="form-control"
	           formControlName="password">

	    <div *ngIf="password.errors && submitted">
	        <p *ngIf="password.errors.required">Password is required</p>
	        <p *ngIf="password.errors.minlength" >Password must be {{password.errors.minlength.requiredLength}} characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
	      </div>

	    <!-- <pre *ngIf="password.errors">{{ password.errors | json }}</pre> -->
	  </div>
	  <!-- Address -->
	  <div class="form-group" [ngClass]="{
	    'has-danger': address.invalid ,
	    'has-success': address.valid 
	  }">
	    <label>Address</label>
	    <input type="text"
	           class="form-control"
	           formControlName="address">

	    <div *ngIf="address.errors && submitted">
	        <p *ngIf="address.errors.required">Address is required</p>
	    </div>

	    <!-- <pre>{{ password.errors | json }}</pre> -->
	  </div>
	  <!-- Phone -->
	  <div class="form-group" [ngClass]="{
	    'has-danger': !email,
	    'has-success': phone.valid
	  }">
	    <label>Phone</label>
	    <input type="text"
	           class="form-control"
	           formControlName="address">

	    <div *ngIf="(!email && !phone) && submitted">
	        <p *ngIf="phone.errors.required">Phone or Email is required</p>
	    </div>

	    <!-- <pre>{{ password.errors | json }}</pre> -->
	  </div>

	  <div class="form-group">
	    <label>Authentication Type</label>
	    <select class="form-control"
	            formControlName="authentication_type">
	      <option value="">Please select a type</option>
	      <option *ngFor="let type of authentication_types"
	              [value]="type">{{type}}
	      </option>
	    </select>
	  </div>

	  <!-- 	<pre>{{myform.value | json}}</pre> -->

	  <button type="submit" class="btn btn-primary" >Submit</button>
	</form>
</div>